.container-single-blog {
  max-width: 60rem;
  margin: 0 auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.container-single-blog h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.container-single-blog h3 {
  margin: 0;
}

.read-time-group {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.published {
  text-align: center;
}

.container-single-blog .icons-apps-page {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.images-blog-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 30rem;
  margin: 0 auto;
}

.images-blog-container > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.images-blog-container > div p {
  margin: 0rem;
}

.image-single-blog {
  width: 100%;
}

.card-deal {
  background-color: #ffe5d9;
}

.container-single-blog main {
  width: 100%;
}

.container-single-blog article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container-single-blog .submit-box {
  width: 100%;
  max-width: none;
  margin-top: 0rem;
}

.container-single-blog .container-comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-appview {
  text-align: left;
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* gap: 2.5rem; */
  gap: 2rem;
  align-items: start;
}
.container-bookmark {
  display: flex;
  align-items: center;
}

.container-bookmark,
.container-title {
  justify-content: space-between;
  width: 100%;
}
.container-description {
  width: 100%;
}
.container-rating,
.container-title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.container-appview p {
  line-height: 1.5rem;
}

.container-appview-buttons,
.container-appview-codes {
  gap: 1rem;
  display: flex;
}

.container-appview-codes-users {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

.container-appview-codes-users span {
  font-size: 14px;
}

.codes-added-by-mobile {
  display: none !important;
}

.container-appview-codes {
  align-items: center;
}
.container-deal-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.prompt-title-view {
  font-size: 1.4rem;
}

.icons-apps-page {
  width: auto !important;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
h2.no-margin {
  margin: 0rem;
}
.container-details {
  padding: 1.5rem;
  background-color: #ffe5d9;
  border-radius: 5px;
  border: 1px solid #efefef;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-size: 0.9rem;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.container-details p:not(.container-details.cta p) {
  margin: 0.5rem 0;
}

.container-details h2 {
  margin-top: 0rem;
}

.container-tags {
  display: flex;
  gap: 1rem;
}

.container-alternatives {
  width: 100%;
}

.searches {
  margin-top: 1rem;
}

.button-back {
  margin-top: 3rem;
}

.comment-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1.5rem;
  gap: 0.7rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.comment-author-date {
  font-size: 0.75rem;
  color: #828282;
}

.simple-link {
  text-decoration: underline;
}

.underline {
  text-decoration: underline !important;
}

.badges p {
  margin: 0rem !important;
}

.activity-img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.activity-img-container span {
  font-size: 0.75rem;
  color: #555;
}

.appview-image-activities {
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1.5rem;
}

.appview-image,
.appview-icon {
  max-height: 15rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.appview-image {
  border-radius: 0.5rem;
}

.appview-icon {
  border-radius: 1.5rem;
}

.small-cards {
  margin-top: 1rem;
}

.cta {
  flex-direction: row;
  align-items: center;

  gap: 20rem;
}

.app-description {
  white-space: pre-line;
}

.logo-store {
  width: 8rem;
  height: 2.5rem;
}

.container-store-logos {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.badges {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  align-items: center;
}

.container-badges {
  gap: 1rem;
}

.container-alternatives h2 {
  margin-top: 0rem;
}

.container-title h2 {
  margin-top: 0rem;
}
img.copy-referral-code {
  margin-left: 0.2rem;
  margin-bottom: -0.2rem;
}

img.copy-referral-code.smaller-icon {
  width: 1rem;
}

.icon-copy {
  width: 1rem;
}

.container-codes {
  width: 100%;
}

.container-codes-users {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.container-related-searches {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.p-no-margin {
  margin: 0rem !important;
}

.badges-keywords {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-start;
}

.h-no-margin {
  margin-top: 0rem;
}

.h-no-margin-bottom {
  margin-bottom: 0rem;
}

.container-comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cta-code-form {
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.button-container-add-code {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.25rem;
  padding: 0rem;
  box-shadow: none;
}

.thumbs-container {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.thumbs-container.up {
  color: green;
}

.thumbs-container.down {
  color: red;
}

.thumbs {
  cursor: pointer;
}

.h3-faq {
  cursor: pointer;
}
p.faq-closed {
  display: none;
}

@media only screen and (min-width: 769px) {
  .container-description h2 {
    margin-bottom: 0rem;
  }
}

.container-appview-box h2 {
  margin-top: 0rem;
}

.container-description p:last-child {
  margin-bottom: 0rem;
}

.default-icon {
  /* height: 32rem; */
}

.submit-box-new-comment {
  width: 100%;
}

.app-description ul li {
  list-style-type: disc;
}

span.underline:hover {
  text-decoration: none !important;
}
/* .price {
  margin: 0rem;
  font-size: 2rem;
} */

.price {
  font-size: 3rem;
  font-weight: 500;
  margin: 0rem;
  display: inline-flex;
  align-items: flex-start;
  line-height: 0.8;
}

.currency {
  font-size: 1.5rem;
  position: relative;
  top: 0.1em;
  margin-right: 2px;
}

.cents {
  font-size: 1.5rem;
  position: relative;
  top: 0.1em;
}
.original-price {
  /* font-size: 1.5rem;
  margin-left: 8px; */
  color: #888;
  text-decoration: line-through;
}

.price-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.discount {
  color: #e53935;
  font-weight: 600;
}

.from-discount-group {
  display: flex;
  gap: 0.5rem;
  font-size: 1.25rem;
}
.product-description {
  text-align: justify;
}

.container-appview h1 {
  margin-bottom: 0rem;
  overflow-wrap: break-word;
  word-wrap: break-word; /* older browsers */
  word-break: break-word;
}

.rating-price-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-description ul li {
  list-style-type: disc;
}

@media only screen and (max-width: 768px) {
  .badges {
    align-items: self-start;
  }
  .container-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
  }
  .cta {
    flex-direction: column;

    gap: 0rem;
  }

  .cta-gap {
    gap: 1rem;
  }
  .cta p {
    text-align: center;
  }
  .container-tags {
    flex-direction: column;
    gap: 1rem;
  }
  .container-store-logos {
    flex-direction: column;
  }
  .container-bookmark {
    /* flex-direction: column; */
    gap: 2rem;
  }
  .container-appview-buttons,
  .container-appview-codes {
    /* flex-direction: column; */
    align-items: center;
  }

  .appview-image,
  .appview-icon {
    /* margin: 0 auto; */
    max-height: 10rem;
  }

  .container-comments {
    width: 100%;
  }

  .container-appview .submit-box {
    width: 100% !important;
  }
  .comment-box {
    padding: 1.5rem;
  }

  .container-cards.small-cards {
    width: 100%;
  }

  .container-appview .header h3 {
    display: none;
  }

  .container-store-logos {
    gap: 2rem;
  }

  .container-deal-actions {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .container-codes-users {
    gap: 0.5rem;
    align-items: stretch;
    flex-direction: column;
  }
  .badges {
    flex-direction: column;
  }
}

@media only screen and (max-width: 992px) {
  .container-appview {
    width: 90%;
    margin: 0 auto;
  }
  .container-appview h1 {
    font-size: 1.75rem;
  }
  .appview-image-activities {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  /* .container-appview h1 {
    margin: 0 !important;
  } */

  .container-appview .header h3 {
    margin-bottom: 0rem;
  }

  .container-details.cta p {
    margin-bottom: 0rem;
  }
}
.container-appview > .container-details > .container-tags:nth-child(1) p {
  margin: 0rem;
}

.container-appview > .container-details > .container-tags:nth-child(2) p {
  margin: 0rem;
}
.favorites-shares-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .container-single-blog {
    width: 90%;
    margin: 2rem auto 0 auto;
  }

  .container-single-blog h1 {
    font-size: 1.75rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .image-single-blog {
    width: 100%;
  }
  .container-single-blog {
    width: 90%;
  }
  .container-single-blog .container-cards {
    width: 100%;
  }
}
